<%= form_with model: user_address, url: path, method: method, data: { controller: 'location' } do |f| %>
  <% if user_address.errors.any? %>
    <ul>
      <% user_address.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= f.label :is_default %>
    <%= f.check_box :is_default %>
  </div>
  <div>
    <%= f.label :genre %>
    <%= f.select :genre, UserAddress.genres.keys.map {|w| [w.humanize, w]} %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :street_address %>
    <%= f.text_field :street_address %>
  </div>
  <div>
    <%= f.label :phone_number %>
    <%= f.phone_field :phone_number %>
  </div>
  <div>
    <%= f.label :remark %>
    <%= f.text_field :remark %>
  </div>
  <div>
    <%= f.label :address_region_id %>
    <%= f.collection_select :address_region_id,
                            Address::Region.all, :id, :name,
                            { prompt: 'Please select region' },
                            data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' } %>
  </div>
  <div>
    <%= f.label :address_provinces_id %>
    <%= f.collection_select :address_province_id,
                               [], nil, nil,
                               { prompt: 'Please select province' },
                               data: { location_target: 'selectedProvinceId', action: 'change->location#fetchCities' } %>
  </div>
  <div>
    <%= f.label :address_city_id %>
    <%= f.collection_select :address_city_id,
                            [], nil, nil,
                            { prompt: 'Please select city' },
                            data: { location_target: 'selectedCityId', action: 'change->location#fetchBarangays ' } %>
  </div>
  <div>
    <%= f.label :address_barangay_id %>
    <%= f.collection_select :address_barangay_id,
                            [], nil, nil,
                            { prompt: 'Please select barangay' },
                            data: { location_target: 'selectedBarangayId' } %>
  </div>
  <%= f.submit %>
<% end %>
<%= link_to 'Cancel', client_profile_path %>