<h3><%= link_to 'New Item', new_admin_item_path %></h3>

<table>
  <thead>
  <td><b>Category</b></td>
  <td><b>Image</b></td>
  <td><b>Name</b></td>
  <td><b>Quantity</b></td>
  <td><b>Minimum Bets</b></td>
  <td><b>State</b></td>
  <td><b>Batch Count</b></td>
  <td><b>Online at</b></td>
  <td><b>Offline at</b></td>
  <td><b>Start at</b></td>
  <td><b>Status</b></td>
  <td><b>Control</b></td>
  <td><b>Action</b></td>
  </thead>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.categories.pluck(:name).join(', ') %></td>
      <td><%= image_tag item.image.url if item.image.present? %></td>
      <td><%= item.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.minimum_bets %></td>
      <td><%= item.state %></td>
      <td><%= item.batch_count %></td>
      <td><%= item.online_at %></td>
      <td><%= item.offline_at %></td>
      <td><%= item.start_at %></td>
      <td><%= item.status %></td>
      <td>
        <%= button_to 'Start', admin_item_start_path(item), class: 'btn btn-success', data: { turbo: false } if item.may_start? %>
        <%= button_to 'Pause', admin_item_pause_path(item), class: 'btn btn-info', data: { turbo: false } if item.may_pause? %>
        <%= button_to 'End', admin_item_end_path(item), class: 'btn btn-primary', data: { turbo: false } if item.may_end? %>
        <%= button_to 'Cancel', admin_item_cancel_path(item), class: 'btn btn-danger', data: { turbo: false } if item.may_cancel? %>
      </td>
      <td>
        <%= link_to 'Edit Item', edit_admin_item_path(item) %>
        <%= button_to :delete, admin_item_path(item), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
