
<div class="container-sm d-flex flex-column w-50 text-black mb-2">
  <p>Offer: <%= @offer.name %></p>
  <p>Status: <%= @offer.status %></p>
  <p>Amount: <%= @offer.amount %></p>
  <p>Coins: <%= @offer.coin %></p>
  <%= form_with model: @order, url: client_shops_path, method: :post do |f| %>
    <%= f.text_field :offer_id, value: params[:id] %>
    <div class="mb-3">
      <%= f.label :remarks %>
      <%= f.text_field :remarks %>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-evenly pb-2">
      <%= f.submit 'Submit', class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>