<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <nav>
    <%= link_to 'Home', root_path %>
    <% if request.host == 'admin.com' %>
      <%= link_to 'User List', admin_users_path %>
      <%= link_to 'Item List', admin_items_path %>
      <%= link_to 'Category List', admin_categories_path %>
    <% end %>
  </nav>

  <body class="d-flex flex-column min-vh-100">
    <% if client_user_signed_in? %>
      <h2> Hello <%= current_client_user.email %> </h2>
      <h3> User: <%= current_client_user.role %> </h3>
    <%= link_to 'Sign out', destroy_client_user_session_path, data: { 'turbo-method': :delete } %>
    <% elsif admin_user_signed_in? %>
      <h2> Hello <%= current_admin_user.email %> </h2>
      <h3> User: <%= current_admin_user.role %> </h3>
      <%= link_to 'Sign out', destroy_admin_user_session_path, data: { 'turbo-method': :delete } %>
    <% elsif request.host == 'admin.com' %>
      <%= link_to 'Sign in', new_admin_user_session_path %>
    <% else %>
      <%= link_to 'Sign in', new_client_user_session_path %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>

  <footer class="d-flex flex-row align-items-center justify-content-center gap-3 border border-dark mt-auto">
    <div class="p-2 border border-dark"><%= link_to 'Share', root_path %></div>
    <div class="p-2 border border-dark"><%= link_to 'Invite', client_invite_index_path %></div>
    <div class="p-2 border border-dark"><%= link_to 'Lottery', root_path %></div>
    <div class="p-2 border border-dark"><%= link_to 'Shop', root_path %></div>
    <div class="p-2 border border-dark"><%= link_to 'Me', client_profile_path %></div>
  </footer>
</html>
